<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <i class="far fa-circle"></i>
    <form id="new-form">
      <input type="text" class="new-todo"placeholder="whatneeds to be done?" />
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">
    </ul>
  </section>
</section>


<section class="author">
  A <%= link_to "todo-mvc", "http://todomvc.com" %>
  application, built by
  <%= link_to "Aaron Saralegui", "https://github.com/acsaralegui" %>
</section>


